<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockcmfacebook</name>
	<displayName><![CDATA[Facebook Comment block]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Displays a facebook comment box in product.]]></description>
	<author><![CDATA[TienTV]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>